{{ define "constructor_args" }}
    | Name | Type | Description | Required |
    |---------|---|---|---|
    {{- range $params := . }}
    | {{- $params.Name -}} | {{- if eq $params.Type.Link "#" "" -}}{{- $params.Type.Name -}}{{- else -}}{{ template "linkify_constructor_args" $params.Type }}{{- end -}} | {{- $params.Comment -}} | {{- if $params.OptionalFlag -}}No{{- else -}}Yes{{- end -}} |        
    {{- end -}}
{{ end }}
