{{ define "enums" }}

    | Property | Options | Description |
    | ------------------------ | --- | --- | 
    {{- range . }}
    | <span id="{{ htmlSafe .ID }}">{{- htmlSafe .DisplayName -}}</span> |{{- htmlSafe .Value }} | {{- markdownify .Comment -}}{{- if .DeprecationMessage -}}<p class="property-message">Deprecated: {{- markdownify .DeprecationMessage -}}</p>{{- end -}} |
    {{- end -}}

{{- end }}
