{{ define "properties" }}

    | Property | Type | Description |
    | ------------------------ | --- | --- | 
    {{- range . }}
    | <span id="{{ htmlSafe .ID }}">{{- template "linkify_wo_style" . -}}</span> {{- if .IsReplaceOnChanges -}}🔄{{- end -}}{{- if .IsRequired -}}<span style="color:#FF0000">*️</span>{{- end -}} |{{- range $index, $type := .Types }}{{- if gt $index 0 }} \| {{ end -}}{{- if eq .Link "#" "" -}}{{- htmlSafe .DisplayName -}}{{- else -}}{{- template "linkify" . -}}{{- end -}}{{- end -}} | {{- markdownify .Comment -}}{{- if .DeprecationMessage -}}<p class="property-message">Deprecated: {{- markdownify .DeprecationMessage -}}</p>{{- end -}} |
    {{- end -}}

{{- end }}
